html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top, #2a4328 0%, #c7beb0 100%);
  background-attachment: fixed;
}

.container {
  max-width: 650px;
  margin: 120px auto;

  font-family: "Playfair Display";
}

.title {
  font-family: "Yeseva One";
  font-size: 40px;
  line-height: 1.5;
  color: #243929;
}

form,
.ai-response {
  border-radius: 20px;
  color: #c7beb0;
}

form {
  padding: 20px;
  background-color: #2439295c;
  margin-bottom: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.search-box,
.enter-button {
  padding: 10px;
  font-family: "Playfair Display";
  border: 0px;
  border-radius: 3px;
  background-color: #c7beb0b9;
  color: #d3d3d3;
  color: #152819;
}
.search-box {
  width: 67%;
}

.ai-response {
  padding: 20px;
  background: linear-gradient(
    to top,
    rgba(199, 190, 176, 0.47) 0%,
    #4e5f4787 100%
  );
  line-height: 28px;
  margin-bottom: 25px;
  border-left: #243929 4px solid;
  color: #152819;
  font-size: 17px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.hidden {
  display: none;
}
a {
  color: rgb(39, 38, 38);
}
footer {
  text-align: center;
  font-family: monospace;
  padding: 20px;
  line-height: 2;
  color: rgb(39, 38, 38);
}
